body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* header */

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: white;

  position: relative;
}

.site-navigation-list,
.features-list-numbered,
.features-list-nonnumbered {
  list-style: none;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item {
  color: #000000;
  display: block;
}

.site-navigation-item {
  box-sizing: border-box;
  width: 239px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  text-align: center;
}

.site-navigation-item:nth-child(1) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation-item:nth-child(2) {
  text-align: left;
  padding-left: 73px;

  margin-right: 244px;
}

.site-navigation-item:nth-child(3) {
  text-align: left;
  padding-left: 76px;

  /*
  text-align: right;
  padding-right: 73px;
  */
}

.site-navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation-item a {
  color: #000000;
}

.site-navigation-list a:hover,
.site-navigation-item a:focus {
  color: #81b3d2;
  opacity: 1;
  outline: none;
}
.site-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* логотип */
.site-header-logo {
  position: absolute;
  top: 0;
  left: 529px;

  z-index: 1; /* логотип поверх картинки */
}

.site-navigation-item-current a {
  color: #766357;
}

.features-header {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: white;
}

.features-header-text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  background-color: white;
}


/* главная страница */

.feature-item-numbered-white-wrapper {
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: 400;
  background-color: #81b3d2;
}

.feature-item-numbered-white-wrapper h3 {
  font-size: 21px;
  line-height: 21px;
  color: white;
  font-weight: 700;
  background-color: #81b3d2;
}


.feature-item-numbered-black {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  background-color: #eeeeee;
}

.feature-item-numbered-black h3 {
  font-size: 21px;
  line-height: 21px;
  color: black;
  font-weight: 700;
  background-color: #eeeeee;
}

.features-list-nonnumbered {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  background-color: white;
}

.features-list-nonnumbered h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
  background-color: white;
}

.hotel-search h3 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  background-color: white;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
  background-color: white;
}

.hotel-search-button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 30px 0px;
  background-color: #766357;
  border: none;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #604e43;
  opacity: 1;
  outline: none;
}

.hotel-search-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

/* попап-форма поиска отелей на главной странице */
.modal-hotel-search {
  margin: 0;
  padding: 0;

  position: relative; /* для формы поиска отеля */
}

.form-hotel-search {
  display: flex;

  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 568px;
  margin: 0;
  padding: 55px;

  background-color: white;
  /*
  rgba(0, 1, 1, 0.15);
  */

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

}

.form-hotel-search-item {
  display: flex;
  width: 458px;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  justify-content: space-between;
  align-items: center;
}

.form-hotel-search-item label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.input-date {
  display: block;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding: 13px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000; /* ? - цвет текста остается "полупрозрачным" */
  text-decoration: none;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;

  opacity: 1;
  outline: none;
}

.input-date:hover {
  background-color: #ebebeb;
}

.input-date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.form-hotel-search-item-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  justify-content: space-between;
  align-items: center;
}

.form-hotel-search-item-wrapper label,
.form-hotel-search-item-wrapper input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.form-hotel-search-item-wrapper label {
  padding-right: 27px;
}

.form-hotel-search-item-wrapper:first-child label {
  box-sizing: border-box;
  width: 112px;
  padding-left: 0;
  padding-right: 41px;
}

.input-quantity {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  width: 38px;
  height: 38px;
  background-color: #f2f2f2;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  opacity: 1;
  outline: none;

  border: 2px solid #f2f2f2;

}

.input-quantity:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.input-quantity::-webkit-outer-spin-button,
.input-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-plus,
.button-minus {
  margin: 0;
  padding: 0;
  border: none;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;

  opacity: 1;
  outline: none;
} /* ? как сделать "картинки" на кнопках как на макете */

.button-plus:focus,
.button-minus:focus {
  border: 2px solid #e5e5e5;
}

.button-search {
  border: none;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
  border: none;
  opacity: 1;
  outline: none;
}

.button-search:active{
  background-color: #5496bd;
  color:rgba(255, 255, 255, 0.3);
}



/* страница со списком отелей */

/*
.inner-page {
  background-color: #f2f2f2;
  background-image: url(../img/filter-canyon.jpg);
  background-size: 1200px 800px;
  background-position: top center;
  background-repeat: no-repeat;
}
*/

.search-options {
  background-color: #81b3d2;
  background-image: url(../img/filter-canyon.jpg);
  background-size: 1200px 800px;
  background-position: top center;
  background-repeat: no-repeat;
}

.search-options h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.search-options label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.search-options-price span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.search-options-show {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
}

.search-options-show:hover {
  color: black;
  background-color: white;
}

.search-results-total {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: 700;
  background-color: white;
}

.search-results-n-sort p {
  font-size: 12px;
  line-height: 18px;
  color: black;
  font-weight: 400;
  background-color: white;
}

.search-results-sorttype-list {
  list-style: none;
}

.search-results-sorttype-item a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  background-color: white;
  /*
  text-decoration: underline;
  */
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.search-results-sorttype-item a:hover,
.search-results-sorttype-item a:focus {
  color: #81b3d2;
  opacity: 1;
  outline: none;
}

.search-results-sorttype-item a:active {
  color: black;
  text-decoration: none;
  border: none;
}

.search-results-sorttype-current a {
  color: #81b3d2;
  text-decoration: none;
  border: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item-header {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.catalog-item-header:hover,
.catalog-item-header:focus {
  color: #81b3d2;
  opacity: 1;
  outline: none;
}

.catalog-item-header:active {
  color: rgba(0, 0, 0, 0.3);
}


.catalog-item-info span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  background-color: #ffffff;
}

.button-moreinfo {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.button-moreinfo:hover,
.button-moreinfo:focus {
  background-color: #669ec0;
  border: none;
  opacity: 1;
  outline: none;
}

.button-moreinfo:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-booking {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #766357;
  border: none;
  box-sizing: border-box;
  width: 142px;
  height: 27px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
  border: none;
  opacity: 1;
  outline: none;
}

.button-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating-number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: 400;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.catalog-rating-stars {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}




/* --- стили для сеток --- */

/* главная страница */

/* header */

.site-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation {
  display: flex;

  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
}

/* main */

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  position: relative;
}

/* main - welcome */

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 0;

  background-image: url(../img/main-canyon.jpg);
  background-position: center top;
  background-size: 1200px 800px;
  background-repeat: no-repeat;
}

.welcome-sedona-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 132px;
  padding-bottom: 79px; /* уточнить расстояние до маски */
}

.features {
  background-color: white;
  margin: 0;
  padding: 0;
}

.features-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  background-color: white;
}

.features-header {
  /*
  width: 440px;
  */
  margin: 0 auto;
  padding: 0;
  padding-top: 58px;
  text-align: center;
}

.features-header-text {
  /*
  width: 490;
  */
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}


.features-list-numbered {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eeeeee;
}

.features-list-numbered,
.features-list-nonnumbered {
  margin: 0;
  padding: 0;

}

.feature-item-backgroundfoto {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  background-color: #81b3d2;
}

.feature-item-numbered-white-wrapper {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  align-items: top;
}

.feature-item-numbered-white-wrapper h3 {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 47px; /* - px на высоту строки */
  padding-bottom: 24px; /* - px на высоту строки */
}

.feature-item-numbered-white-wrapper span {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 21px; /* - px на высоту строки */
}

.feature-item-numbered-white-wrapper p {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 59px; /* - px на высоту строки */
}

.feature-item-foto-right {
  width: 800px;
  height: 256px;
}

.feature-item-foto-left {
  width: 800px;
  height: 256px;
}

.feature-item-numbered-black {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  align-items: top;
}

.feature-item-numbered-black h3 {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 47px; /* - px на высоту строки */
  padding-bottom: 24px; /* - px на высоту строки */
}

.feature-item-numbered-black span {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 21px; /* - px на высоту строки */
}

.feature-item-numbered-black p {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 59px; /* - px на высоту строки */
}

.features-list-nonnumbered {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

.features-list-nonnumbered li {
  display: block;
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  align-items: top;
}

.features-list-nonnumbered h3 {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 164px; /* - px на высоту строки */
  padding-bottom: 22px; /* - px на высоту строки */

  color: #000000;
  background-color: #ffffff;
}

/*
.feature-item-numbered-black span {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
}
*/

.features-list-nonnumbered p {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 82px; /* - px на высоту строки */

  color: #000000;
  background-color: #ffffff;
}



.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  margin: 0 auto;
  padding: 0;
}

.hotel-search h3 {
  margin: 0 auto;
  padding: 0;
  padding-top: 54px;
}

.hotel-search p {
  display: block;
  width: 0 auto;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 47px;

  text-align: center;
}


/* карта */

.city-map {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 600px;
} /* размер для section */

.sedona-google-map {
  box-sizing: border-box;
  width: 1200px;
  height: 600px;
  border: 0;
}  /* размер для iframe */

/* footer */

footer {
  width: 1200px;
  margin-top: -120px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* футер на внутренней странице без перекрытия */
.footer-inner-page {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #f2f2f2;
}

.footer-wrapper {
/*
  width: 1200px;
  margin: 0 auto;
  margin-top: -120px;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.9);
*/
  display: flex;
/*
  position: relative;
  z-index: 1;
*/
}

.footer-visitsedona {
  width: 136px;
  padding-left: 132px;
  padding-top: 47px;
  padding-bottom: 47px; /* отсутп снизу -> получим общую высоту футера */
}

.footer-visitsedona a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  /*
  background-color: rgba(255, 255, 255, 0.9);
  */
}

.footer-social {
  width: 150px;
  padding-left: 256px;
}

.social-list {
  list-style: none;

  margin: 0 auto;
  padding: 0;
  padding-top: 36px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
  border: none;
  opacity: 1;
  outline: none;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-htmlacademy-logo {
  display: flex;

  width: 197px;
  padding-left: 228px;
  padding-top: 39px;
  margin: 0;
}

.htmlacademy-logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 197px;
  height: 41px;
  border: none;
  opacity: 1;
  outline: none;
}

.htmlacademy-logo p {
  padding: 0;
  padding-right: 8px;
  margin: 0;
  color: black;
}

.htmlacademy-logo:hover path,
.htmlacademy-logo:focus path {
  fill: #81b3d2;
  border: none;
  opacity: 1;
  outline: none;
}

.htmlacademy-logo:active path {
  fill: #bdbbbc;
}


/* страница со списком отелей */

.search-options {
  background-color: transparent;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.search-results {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item-article {
  display: flex;
  /*
  align-items: center;
  */
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 150px;
  border-top: 1px solid #f2f2f2;
}

.catalog-item-img {
  padding-left: 72px;
  padding-right: 30px;

  padding-top: 30px;
  padding-bottom: 30px;

  width: 135px;
  height: 90px;
}

.catalog-item-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  width: 963px;
  height: 90px;
}

.catalog-item-info {
  height: 90px;
  display: flex;
  flex-direction: column;
  /*
  justify-content: space-between;
  */
  margin: 0;
  padding: 0;
}

.catalog-item-info h4 {
  margin: 0;
  padding-bottom: 8px; /* уточнить размер */
}

.catalog-item-header {
  margin: 0;
}

.catalog-item-moreinfo-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.item-type {
  margin: 0;
  padding: 0;
  padding-right: 6px;
  width: 110px;
  display: flex;
  flex-direction: column;
  /*
  justify-content: space-between;
  */
}

.catalog-item-type {
  padding-bottom: 13px; /* уточнить размер*/
}

.item-price {
  padding-bottom: 17px;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  height: 90px;
  width: 110px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 73px;
}

/* 4 stars*/
.catalog-rating-4stars {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 85px;
  position: relative;
}

.catalog-rating-4stars::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;

  width: 72px;
  height: 18px;

  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

/* 3 stars*/
.catalog-rating-3stars {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 85px;
  position: relative;
}

.catalog-rating-3stars::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;

  width: 53px;
  height: 18px;

  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

/* 2 stars*/
.catalog-rating-2stars {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 85px;
  position: relative;
}

.catalog-rating-2stars::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;

  width: 35px;
  height: 18px;

  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}


/* тени
.site-header,
.main-container,
.footer-wrapper,
.hotels-main,
.footer-inner-page {
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.1),
    0 -10px 10px rgba(0, 0, 0, 0.1);
}
*/
