body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* header */

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: white;

  position: relative;
}

.site-navigation-list,
.features-list-numbered,
.features-list-nonnumbered {
  list-style: none;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item a {
  color: #000000;
  display: block;
}

.site-navigation-item a {
  box-sizing: border-box;
  width: 239px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  text-align: center;
}

.site-navigation-item:nth-child(1) a {
  text-align: left;
  padding-left: 72px;
}

.site-navigation-item:nth-child(2) a {
  text-align: left;
  padding-left: 73px;

  margin-right: 244px;
}

.site-navigation-item:nth-child(3) a {
  text-align: left;
  padding-left: 76px;

  /*
  text-align: right;
  padding-right: 73px;
  */
}

.site-navigation-item:nth-child(4) a {
  text-align: right;
  padding-right: 72px;
}


.site-navigation-list a:hover {
  color: #81b3d2;
}
.site-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* логотип */
.site-header-logo {
  position: absolute;
  top: 0;
  left: 529px;

  z-index: 1; /* логотип поверх картинки */
}

.site-navigation-item-current a {
  color: #766357;
}

.features-header {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: white;
}

.features-header-text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  background-color: white;
}


/* главная страница */

.feature-item-numbered-white {
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: 400;
  background-color: #81b3d2;
}

.feature-item-numbered-white h3 {
  font-size: 21px;
  line-height: 21px;
  color: white;
  font-weight: 700;
  background-color: #81b3d2;
}

.feature-item-numbered-black {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  background-color: #eeeeee;
}

.feature-item-numbered-black h3 {
  font-size: 21px;
  line-height: 21px;
  color: black;
  font-weight: 700;
  background-color: #eeeeee;
}

.features-list-nonnumbered {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  background-color: white;
}

.features-list-nonnumbered h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
  background-color: white;
}

.hotel-search h3 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  background-color: white;
}

.hotel-search p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  background-color: white;
}

.hotel-search a {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
  border: none;
}

.hotel-search a:hover {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background-color: #604e43;
  border: none;
}

.hotel-search a:active {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background-color: #503e33;
  border: none;
}

/* временно отключим попап*/
.modal-hotel-search {
  display: none
}


/* страница со списком отелей */

/*
.inner-page {
  background-color: #f2f2f2;
  background-image: url(../img/filter-canyon.jpg);
  background-size: 1200px 800px;
  background-position: top center;
  background-repeat: no-repeat;
}
*/

.search-options {
  background-color: #81b3d2;
  background-image: url(../img/filter-canyon.jpg);
  background-size: 1200px 800px;
  background-position: top center;
  background-repeat: no-repeat;
}

.search-options h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.search-options label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.search-options-price span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.search-options-show {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
}

.search-options-show:hover {
  color: black;
  background-color: white;
}

.search-results-total {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: 700;
  background-color: white;
}

.search-results-n-sort p {
  font-size: 12px;
  line-height: 18px;
  color: black;
  font-weight: 400;
  background-color: white;
}

.search-results-sorttype-list {
  list-style: none;
}

.search-results-sorttype-item a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  background-color: white;
  text-decoration: underline;
}

.search-results-sorttype-item a:hover {
  color: #81b3d2;
}

.search-results-sorttype-item a:active {
  color: black;
  text-decoration: none;
}

.search-results-sorttype-current a {
  color: #81b3d2;
  text-decoration: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item-header {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.catalog-item-info span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  background-color: #ffffff;
}

.button-moreinfo {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.button-moreinfo:hover {
  background-color: #669ec0;
}

.button-moreinfo:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-booking {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #766357;
  border: none;
  box-sizing: border-box;
  width: 142px;
  height: 27px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating-number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: 400;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.catalog-rating-stars {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}




/* --- стили для сеток --- */

/* главная страница */

/* header */

.site-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation {
  display: flex;

  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
}

/* main */

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  position: relative;
}

/* main - welcome */

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 0;

  background-image: url(../img/main-canyon.jpg);
  background-position: center top;
  background-size: 1200px 800px;
  background-repeat: no-repeat;
}

.welcome-sedona-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 132px;
  padding-bottom: 79px; /* уточнить расстояние до маски */
}

.features {
  background-color: white;
  margin: 0;
  padding: 0;
}

.features-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: o auto;
  padding: 0;

  background-color: white;
}

.features-header {
  width: 440px;
  padding-top: 61px;
  text-align: center;
  margin: o;
}

.features-header-text {
  width: 490;
  padding-top: 38px;
  padding-bottom: 56px;
  text-align: center;
  margin: o;
}

.features-list-numbered,
.features-list-nonnumbered {
  margin: 0;
  padding: 0;

}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  margin: 0 auto;
  padding: 0;
}

.hotel-search p {
  width: 434px;
  text-align: center;
}

/* карта */

/* тест
.city-map {
  width: 1200px;
  height: 600px;
  background-color: red;
}
*/

.sedona-google-map {
  box-sizing: border-box;
  width: 1200px;
  height: 600px;
  border: 0;

}

/* footer */
footer {
  width: 1200px;
  margin-top: -120px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* футер на внутренней странице без перекрытия */
.footer-inner-page {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #f2f2f2;
}

.footer-wrapper {
/*
  width: 1200px;
  margin: 0 auto;
  margin-top: -120px;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.9);
*/
  display: flex;
/*
  position: relative;
  z-index: 1;
*/
}

.footer-visitsedona {
  width: 136px;
  padding-left: 132px;
  padding-top: 47px;
  padding-bottom: 47px; /* отсутп снизу -> получим общую высоту футера */
}

.footer-visitsedona a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  /*
  background-color: rgba(255, 255, 255, 0.9);
  */
}

.footer-social {
  width: 150px;
  padding-left: 256px;
}

.social-list {
  list-style: none;

  margin: 0 auto;
  padding: 0;
  padding-top: 36px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-htmlacademy-logo {
  display: flex;

  width: 197px;
  padding-left: 228px;
  padding-top: 39px;
  margin: 0;
}

.htmlacademy-logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 197px;
  height: 41px;
}

.htmlacademy-logo p {
  padding: 0;
  padding-right: 8px;
  margin: 0;
  color: black;
}

.htmlacademy-logo:hover path {
  fill: #81b3d2;
}

.htmlacademy-logo:active path {
  fill: #bdbbbc;
}


/* страница со списком отелей */

.search-options {
  background-color: transparent;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.search-results {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item-article {
  display: flex;
  /*
  align-items: center;
  */
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 150px;
  border-top: 1px solid #f2f2f2;
}

.catalog-item-img {
  padding-left: 72px;
  padding-right: 30px;

  padding-top: 30px;
  padding-bottom: 30px;

  width: 135px;
  height: 90px;
}

.catalog-item-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  width: 963px;
  height: 90px;
}

.catalog-item-info {
  height: 90px;
  display: flex;
  flex-direction: column;
  /*
  justify-content: space-between;
  */
  margin: 0;
  padding: 0;
}

.catalog-item-info h4 {
  margin: 0;
  padding-bottom: 8px; /* уточнить размер */
}

.catalog-item-header {
  margin: 0;
}

.catalog-item-moreinfo-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.item-type {
  margin: 0;
  padding: 0;
  padding-right: 6px;
  width: 110px;
  display: flex;
  flex-direction: column;
  /*
  justify-content: space-between;
  */
}

.catalog-item-type {
  padding-bottom: 13px; /* уточнить размер*/
}

.item-price {
  padding-bottom: 17px;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item-rating {
  height: 90px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 73px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
